h1{
    text-align: center;
    margin-top: 50px;
}

#general img{
    display: block;
    margin: auto;
    margin-top: 30px;
    width: 30%;
}

section{
    margin: 50px 70px;
}
#install img{
    width: 60%;
    display: block;
    margin: 30px auto;
}
